.input-emoji-sub {
  align-items: center;
  display: flex;
  height: 48px;
  position: relative;
  width: fit-content;
}

.input-emoji-sub .emoji {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 6px 0px 0px 6px;
  display: flex;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 65px;
}

.input-emoji-sub .element {
  color: #a0a0a0;
  font-family: "Product Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-emoji-sub .element-wrapper {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 0px 6px 6px 0px;
  display: flex;
  gap: 16px;
  height: 48px;
  margin-left: -1px;
  padding: 16px;
  position: relative;
  width: fit-content;
}

.input-emoji-sub .text-wrapper {
  font-family: "Product Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-emoji-sub .arriv-e-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 18px;
  justify-content: center;
  left: 8px;
  padding: 4px;
  position: absolute;
  top: -9px;
  width: fit-content;
}

.input-emoji-sub .arriv-e {
  color: #2f2f2f;
  font-family: "Product Sans-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-emoji-sub .state-0-empty {
  border-color: #2f2f2f;
}

.input-emoji-sub .state-0-filled {
  border-color: #f3f3f3;
  box-shadow: 0px 0px 8px #1e1e1e0d;
}

.input-emoji-sub .state-1-empty {
  border-color: #2f2f2f;
}

.input-emoji-sub .state-1-filled {
  border-color: #f3f3f3;
  box-shadow: 0px 0px 8px #1e1e1e0d;
}

.input-emoji-sub .element-wrapper.state-1-empty .text-wrapper {
  color: #c4c4c4;
}

.input-emoji-sub .element-wrapper.state-1-filled .text-wrapper {
  color: #2f2f2f;
}
